.features {
  width: 100%;
  min-height: 430px;
  margin-top: 55px;
  position: relative;

  &__feature {
    @include container;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__feature h3 {
    font-size: 18px;
    line-height: 10px;
  }

  &__intro {
    font-size: 14px;
    line-height: 24px;
  }

  &__feature--extra {
    display: none;
  }
}

@media ($mobile-width) {

  .features {

    & picture:nth-of-type(1),
    & picture:nth-of-type(2) {
      display: none;
    }

    & picture:nth-of-type(3) {
      display: block;
    }

    &__image {
      width: 186px;
      height: 382px;
      margin-left: 50px;
    }

    &__wrapper {
      @include container;
    }
  }
}

@media ($tablet-width) {

  .features {
    @include container;
    @include clearfix;


    &__wrapper {
      display: block;
      float: right;
      width: 310px;
      min-height: 115px;
    }

    &__wrapper:nth-of-type(3) {
      display: block;
      float: left;
      width: 310px;
      min-height: 115px;
    }

    &__feature {
      width: 310px;
      min-height: 100px;
      margin-top: 30px;
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 24px;
      text-align: left;
    }

    &__feature--extra {
      display: none;
    }

    &__feature h3 {
      font-size: 18px;
      line-height: 10px;
    }

    & picture:nth-of-type(1),
    & picture:nth-of-type(2) {
      display: none;
    }

    & picture:nth-of-type(3) {
      display: block;
    }

    &__image {
      width: 268px;
      height: 481px;
      margin-top: -50px;
    }
  }
}

@media ($desktop-width) {
  .features {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__wrapper {
      @include container;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;

    }

    &__wrapper:first-of-type {
      z-index: 300;
    }

    &__wrapper:nth-of-type(2) {
      justify-content: space-around;
      order: -1;
      margin-top: -100px;
    }


    &__feature {
      width: 250px;
      font-size: 18px;
      line-height: 30px;
      align-self: flex-start;
      text-align: center;
    }

    &__feature h3 {
      font-size: 30px;
      line-height: 30px;
    }

    &__intro {
      font-size: 18px;
      line-height: 30px;
    }

    & picture:nth-of-type(1),
    & picture:nth-of-type(2),
    & picture:nth-of-type(3) {
      display: block;
    }

    &__image {
      position: relative;
      width: 292px;
      height: 302px;
      margin-top: 0;
    }

    &__image:nth-of-type(2) {
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}
