.main-promo {
  display: block;
  position: relative;
  @include container;
  @include clearfix;

  &__text {
    line-height: 1.25;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
  }
}

@media ($mobile-width) {
.main-promo {
  width: 320px;
  height: 390px;

  &--inner {
    height: 173px;
    @include container;
  }

  &__text {
    width: 235px;
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 30px;
    font-size: 24px;
  }

  &__text--inner {
    padding-top: 35px;
    padding-bottom: 50px;
  }

  &__image img {
    width: 258px;
    height: 286px;
    position: absolute;
    z-index: 0;
    left: 0;
    bottom: 0;
    }
  }
}

@media ($tablet-width) {

  .main-promo {
    min-height: 620px;
    @include container;

    &--inner {
      min-height: 230px;
    }

    &__image {
      @include clearfix;
    }

    &__image img {
      width: 700px;
      height: 545px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;
    }

    &__text {
      display: block;
      float: left;
      width: 300px;
      margin: 0;
      padding: 0 30px;
      margin-top: 100px;
      z-index: 200;
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      color: #ffffff;
      box-sizing: border-box;
    }

    &__text--inner {
      float: none;
      width: auto;
      padding-top: 69px;
      padding-left: 60px;
      padding-bottom: 75px;
      padding-right: 60px;
      font-size: 50px;
      line-height: 1.25;
    }

    &__text--inner-photo {
      float: none;
      width: auto;
      padding-top: 80px;
      padding-left: auto;
      padding-bottom: 145px;
      padding-right: auto;
      font-size: 50px;
      line-height: 1.25;
    }


    &__text--note {
      background: none;
      font-size: 18px;
      line-height: 24px;
    }
  }
}

@media ($desktop-width) {
  .main-promo {
    display: block;
    position: relative;
    min-height: 745px;
    @include container;

    &--inner {
      min-height: 295px;
    }

    &__image {
      @include clearfix;
    }
    
    &__text {
      display: block;
      float: left;
      width: 300px;
      margin: 0;
      padding: 0 30px;
      margin-top: 120px;
      z-index: 200;
      font-size: 50px;
      box-sizing: border-box;
    }

    &__text--inner {
      width: auto;
      float: none;
      padding-top: 70px;
      padding-left: 60px;
      padding-right: 60px;
      margin-top: 0;
      z-index: 200;
      font-size: 50px;
      box-sizing: border-box;
    }

    &__text--inner-photo {
      width: auto;
      float: none;
      margin-top: 0;
      padding-top: 70px;
      padding-left: 200px;
      padding-right: 200px;
    }

    &__image img {
      width: 1050px;
      height: 645px;
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: 0;
    }
  }
}