.main-header {
  width: 100%;
  min-height: 237px;
  background-color: #1d2631;
  background-image: url("../img/bg-back-mobile.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;

  &--inner {
  height: 237px;
  }
}


@media ($tablet-width) {

  .main-header {
    width: 100%;
    min-height: 730px;
    }

  &--inner {
    height: 440px;
  }
}


@media ($desktop-width) {

  .main-header {
    width: 100%;
    min-height: 855px;
  }
}
