.page-header {
  width: auto;
  height: 66px;
  background-color: fade-out($bg-darkblue, 0.3);
}

@media ($mobile-width) {
  .page-header {

    &--menu-opened {
      background-color: fade-out($bg-darkblue, 0.3);
    }
  }
}


@media ($tablet-width) {
  .page-header {
    height: 110px;

    &--menu-opened {
      background-color: fade-out($bg-darkblue, 0.3);
    }
  }
}

@media ($desktop-width) {
   .page-header {
     height: 110px;

    &--menu-opened {
      background-color: fade-out($bg-darkblue, 0.3);
    }
  }
}