.reviews {
  width: 100%;
  min-height: 354px;
  background: white;
  padding-top: 42px;
  margin-top: -42px;


  &__item:not(:first-of-type) {
    display: none;
  }

  &__item h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }

  &__intro {  
    font-size: 14px;
    line-height: 30px;
  }
}

@media ($mobile-width) {
  .reviews {
    margin-top: -45px;
    position: relative;

    &__wrapper {
      @include container;
      text-align: center;
    }

    &__details {
      display: none;
    }
  }
}
@media ($tablet-width) {}
@media ($desktop-width) {}
