.social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
  height: 50px;
  margin: 0 auto;
  margin-top: 35px;
  
  &__icon {
    display: flex;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid #e9ebec;
  }

  &__icon img {
    margin: auto;
  }

  &__icon:hover {
    border: 3px solid #283645;
  }

  &__icon:active {
    opacity: 0.3;
  }
}

@media ($tablet-width) {
  .social {
    margin-top: 0;
    margin-left: 70px;

    &__icon {
      width: 46px;
      height: 46px;
      border-radius: 50%;
      border: 2px solid #e9ebec;
    }
  }
}

@media ($desktop-width) {
  .social {
    margin-top: 0;
    margin-left: 220px;
  }
}