.systems {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 210px;
  height: 60px;
  margin-top: 30px;
}

@media ($tablet-width) {
  .systems {
    position: absolute;
    top: 370px;
    left: 45px;
    z-index: 200px;
  }
}